page-save-password {
    .btn{
        width: 90%;
        margin: 5% 5%;
    }
    .text-input-ios{
        text-align: center;
    }
    .toolbar-title-ios, .toolbar-title-md {
        color:#FFF;
    }
    ion-input {
        margin-bottom: 0px; 
    }  
}
